@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1E213A;
}

@layer component {
    .lbl{
        @apply absolute -top-[21px] font-bold text-[12px] leading-[14px] text-[#A09FB1] bg-transparent;
    }
}